@import '~theme/variables.scss';

.ChatIconButton {
  button {
    border-radius: 50%;
    background-color: #000;
    color: $brand-white;
    border: none;
  }
  img {
    margin: 0;
  }
  p {
    color: $brand-white;
  }
}
