@import '~theme/variables.scss';

.talk {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

:export {
  brandPrimary: $brand-primary;
}

:export {
  brandSuccess: $brand-success;
}

:export {
  brandWarning: $brand-warning;
}
