@import '~theme/variables.scss';

.Authenticated {
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RefitButtonContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  @media (min-width: 1024px) {
    justify-content: space-around;
    width: 70%;
  }
}

.home {
  dd {
    margin-bottom: 15px;
  }
}

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $brand-white;
  padding: 40px 20px;
  color: white;
  text-align: center;

  h1 {
    color: $brand-black;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
}
