{
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/no-danger": 0,
    "react/jsx-max-props-per-line": 0,
    "react/require-default-props": 0,
  #   "no-debugger": 0,
  #   "react/no-multi-comp": [1],
  #   "react/jsx-first-prop-new-line": [2, "multiline"],
  #   "react/prefer-stateless-function": [2],
  #   "react/jsx-closing-bracket-location": [2],
  #   "react/jsx-filename-extension": [0],
  #   "react/self-closing-comp": [2],
  #   "react/jsx-no-target-blank": [1],
  #   "react/no-find-dom-node": [2],
    "react/forbid-prop-types": [0],
  #   "react/no-unescaped-entities": [0],
  #   "import/default": 2,
  #   "import/extensions": 0,
  #   "import/no-duplicates": 2,
  #   "import/named": 2,
  #   jsx-quotes: ['error', 'prefer-single'],
  #   "no-unused-expressions": 0,
  #   "chai-friendly/no-unused-expressions": 2,
  #   # "import/namespace": "off",
  #   # "import/no-unresolved": "off",
  #   # "import/imports-first": "off",
  #   # "import/prefer-default-export": "off",
  #   # "import/no-extraneous-dependencies": "off",
  #   # "import/newline-after-import": "off",
  #   "comma-dangle": [0], // not sure why airbnb turned this on. gross!
  #   "consistent-return": [0],
  #   # "no-param-reassign": "off",
  #   # "prefer-template": "warn",
  #   "global-require": [0],
  #   # "no-case-declarations": "off",
  #   # "no-underscore-dangle": "off",
  #   "arrow-parens": [2, "as-needed", {"requireForBlockBody": false}],
  #   # "class-methods-use-this": "off",
  #   # "no-bitwise": "off",
  #   # "no-plusplus": "off",
  #   # "no-console": "off",
  #   # "no-alert": "off",
  #   # "max-len": ["error", 120],
  # "react/jsx-indent": [2, {SwitchCase": 1}]
  },
  "plugins": [
    "react",
    "import",
    "chai-friendly"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/dev.config.js"
      }
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__DLLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "jest": true
  }
}
