@import '../../../theme/variables.scss';

* {
  color: #5A5B5C;
}


.flexForm {
	display: flex;
	flex-direction: column;
	padding: 3rem;
  button {
  	width: 50%;
  	max-width: 15rem;
  	margin: auto;
  }
}


// TODO this is the same as 'register box'
.credentialBox {
  margin-top: 15px;
  min-height: 400px;
  position: relative;
  background-color: $brand-white;
  border-radius: 4px;
  border: 1px solid #ccc;
  .labelWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .credentialLabel {
    width: auto;
    height: 100%;
    position: absolute;
  }
  .hideInput {
    display: none;
  }
};

.indicatorWrapper {
  position: absolute;
  top: 10px;
  right: 0;
}

label {
  color: #5A5B5C;
  font-size: 1.75rem;
  text-align: left;
}

select {
  margin-bottom: 15px;
}

.optional {
  font-size: 1.2rem;
}

.submitDiv {
  display: flex;
  justify-content: center;
  > button {
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #888;
    font-weight: bold;
  }
}

.dropzone {
  width: 100%;
}

@media (min-width: 768px) {
	.flexForm {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.flexColumn {
    width: 45%;
	}

}
