@import '../../../theme/variables.scss';

// TODO make comment on change from
// footer
.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $brand-black;
	min-height: $footer-height;
	padding: 0.5rem 1rem;
  width: 100%;
	bottom: 0;
	position: fixed;

	button,
	span {
		background-color: $brand-black;
		color: $brand-white;
		border: none;
		margin: 0 1rem;
	}

	span {
		margin-right: auto;
	}

	a {
		color: $brand-white;

		&:focus,
		&:hover {
			text-decoration: underline;
			color: $brand-gray;
		}
	}
}
