@import '~theme/variables.scss';

.Navbar {
  z-index: 10;
  background: $brand-black;
}

.brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: $brand-black url('../../Home/ic_PR_logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }


nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
}
