@import '../../theme/variables.scss';

.notifContainer {
	z-index: 99999;
	position: absolute;
  width: 100%;
}

.notification {
	margin-left: 20px;
	margin-right: 20px;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	color: $brand-white;
}

.success {
	background-color: $brand-success;
}

.warning {
	background-color: $brand-warning;
}

.danger {
	background-color: $brand-danger;
}

.info {
	background-color: $brand-info;
}
