@import '~theme/variables.scss';
.heading {
  color: $brand-darker-gray;
}

.link {
  color: $brand-darker-gray;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;

  background-image: url('./assets/soldier_uniform.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.masthead {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 40px 20px;
  color: $brand-darker-gray;
  text-align: center;
  margin: 7rem 1rem 7rem 1rem;
  border-radius: 4px;
  min-height: 100%;
};

.pipelineBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  //max-width: 60%;
  margin: auto;
  margin-bottom: 1rem;

  // button {
  //   margin: 1rem auto;
  //   box-shadow: $box-shadow;

  //   &:first-of-type,
  //   &:last-of-type {
  //     background: $brand-black;
  //     color: $brand-white;

  //     &:hover {
  //       background: $brand-gray;
  //       color: $brand-black;
  //     }
  //   }

  //   &:nth-of-type(2) {
  //     background: $brand-gray;
  //     color: $brand-black;

  //     &:hover {
  //       background: $brand-black;
  //       color: $brand-white;
  //     }
  //   }
  // }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
