@import '../../theme/variables.scss';

.heading {
  color: $brand-darker-gray;
}

.link {
  color: $brand-darker-gray;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: url('./assets/soldier_uniform.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.masthead {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 40px 20px;
  color: white;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 4px;
};

.pipelineBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: auto;

  button {
    &:first-of-type {
      background: $brand-black;
      color: $brand-white;

      &:hover {
        background: $brand-gray;
        color: $brand-black;
      }
    }

    &:last-of-type {
      background: $brand-gray;
      color: $brand-black;

      &:hover {
        background: $brand-black;
        color: $brand-white;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
