@import '../../theme/variables.scss';

body {
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 75%;
  position: absolute;
  text-align: center;
  width: 100%;
	form {
		button {
			margin-top: 15px;
			width: $button-width;
			border-radius: $button-border-radius;
			box-shadow: $box-shadow;
	  }
	}
}

.checkEmail {
	margin-bottom: 3.5em;
}

a {
	color: #429bf4;
	&:hover {
		  text-decoration: none;
	}
}
