@import '../../theme/variables.scss';

body {
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

p {
	font-size: 2.2em;
}

form button {
	margin-top: 15px;
	width: $button-width;
	border-radius: $button-border-radius;
	box-shadow: $box-shadow;
}

/*.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form input {
	border-radius: $button-border-radius;
	box-shadow: $box-shadow;
}

form button {
	border-radius: $button-border-radius;
	box-shadow: $box-shadow;
	width: $button-width;
}*/