@import '../../../theme/variables.scss';

.LoginForm {
	display: flex;
	flex-direction: column;
	
	input {
		width: 100%;
		box-shadow: $box-shadow;
	}

	a {
		text-weight: bold;
		align-self: flex-start;
		text-decoration: none;
		}
}
