/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$brand-black: #000;
// $brand-black: #2d2d2d;
$brand-gray: #ccc;
$brand-darker-gray: #2C2D2F;
$brand-white: #fff;

// Bootstrap Variables
$brand-primary: #55acf6;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
// $font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
// $font-family-sans-serif: 'Inconsolata', monospace;
$font-family-sans-serif: 'Roboto', sans-serif;

// Form Variables
$button-width: 150px;
$button-border-radius: 5px;
$button-on: #85E9B0;
$button-off: #E98585;
$box-shadow: 2px 2px 2px $brand-gray;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
