// UPDATING A VARIABLE THIS FILE MAY REBUILD BOOTSTRAP FROM SASS
// it will take a while, so don't be mad
// Custom Colors
$brand-black: #2C2D2F;
$brand-gray: #C2C3C6;
$brand-darker-gray: #2c2d2f;
$brand-white: #fff;

$brand-success: #85e9b0;
$brand-danger: #e98585;

$text-color-light: $brand-gray;
$text-color-dark: #67676a;
$chat-color-light: #389abc;
$chat-color-dark: #1739af;

$brand-light-blue: #3AC9E3;

// Bootstrap Variables
$brand-primary: #55acf6;
$brand-secondary: #e25139;
//$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
//$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;


$font-size-base: 1rem;
// $font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
// $font-family-sans-serif: 'Inconsolata', monospace;
$font-family-sans-serif: 'Roboto', sans-serif;

// Form Variables
$button-width: 150px;
$button-height: 25px;
$button-border-radius: 5px;
$button-on: $brand-success;
$button-off: $brand-danger;
$box-shadow: 2px 2px 2px $brand-gray;

// Bootstrap variables overrides
// see ./variables.defaults.scss for more
$blue: $brand-primary;
$navbar-dark-color: $brand-gray;
