@import '~theme/variables.scss';

.success {
  border-top: $brand-success 2px solid;
}

.warning {
  border-top: $brand-success 2px solid;
}

.BadgeSuccess {
  background-color: $brand-success;
}

.stats {
  margin: 0;
}
