@import '~theme/variables.scss';

.ChangePassword {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 2px solid $brand-black;

	label {
		color: #5A5B5C;
		font-size: 1.2em;
	}

	input {
		box-shadow: $box-shadow;
	}

	button {
		border-radius: $button-border-radius;
		width: $button-width;
		border: none;
		box-shadow: $box-shadow;
		border-radius: $button-border-radius;
	}

	button.password {
		width: $button-width * 1.5;
		height: $button-height * 1.5;
		background-color: $brand-light-blue;
		color: $brand-white;
		border: none;
		margin: 1rem auto 1rem auto;
	}

	.injury {
		text-align: center;
	}
}
