@import '../../../theme/variables.scss';

.ListenAnytime {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-top: 2px solid $brand-black;
	margin: 2rem;
	width: 90%;

	h2 {
		color: $brand-black;
		margin: 2rem 0;
	}

	button {
		width: $button-width;
		border: none;
		box-shadow: $box-shadow;
		border-radius: $button-border-radius;
		color: $brand-white;
		&.on {
			background-color: $button-on
		}
		&.off {
		  background-color: $button-off;
	  }
	}
}
