@import '../../../theme/variables.scss';

.ProfileForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;

	input {
		box-shadow: $box-shadow;
	}

	button {
		align-self: center;
		width: $button-width;
		height: $button-height;
		box-shadow: $box-shadow;
		background-color: $brand-gray;
		border-radius: $button-border-radius;
	}

	button.password {
		width: $button-width * 1.5;
		height: $button-height * 1.5;
		background-color: $brand-light-blue;
		color: $brand-white;
		border: none;
		margin: 1rem auto 3rem auto;
	}

	@media (min-width: 768px) {
		width: 50%;
	}
	@media (min-width: 1024px) {
		width: 33%;
	}
}