@import '~theme/variables.scss';

.ProfileForm {
	label {
		color: #5A5B5C;
		font-size: 1.2em;
	}

	input {
		box-shadow: $box-shadow;
	}

	button {
		border-radius: $button-border-radius;
	}

	.checkbox {
		box-shadow: none;
		margin: 1rem;
	}
}
