@import '../../../../theme/variables.scss';

.BtnBar {
  display: flex;
  justify-content: center;
  button {
    margin: 0 15px;
  }
}

.controlBar {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  background-color: $brand-black;
  button {
    background-color: $brand-black;
    color: $brand-white;
    border: none;
  }
}
