@import '~theme/variables.scss';

.BtnBar {
  display: flex;
  justify-content: center;
  button {
    padding: 0 !important;
    margin: 0 15px;
  }
}

.controlBar {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  button {
    width: 50px;
    padding: 0 !important;
    background-color: transparent;
    i {
      color: $brand-white;
    }
  }
}
