@import '../../../../theme/variables.scss';

.BtnBar {
  display: flex;
  justify-content: center;
  button {
    margin: 0 15px;
  }
}

.controlBar {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  button {
    background-color: transparent;
    i {
      color: $brand-white;
    }
  }
}
