@import '~theme/variables.scss';

.home {
  background: $brand-white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  img {
    margin: 0 auto 0.5rem auto;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.alreadyMember {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  img {
    display: block;
    max-width: 25px;
    height: auto;
    margin: auto;
  }
  a {
    font-size: 1rem;
    color: $brand-black;
    text-decoration: none;
  }
}

.speakEasyButton {
  width: $button-width;
  height: $button-height * 1.5;
  background-color: $brand-gray;
  color: $brand-darker-gray;
  border-radius: $button-border-radius;
  box-shadow: $box-shadow;
}
