@import '../../theme/variables.scss';

.home {
  dd {
    margin-bottom: 15px;
  }
}

.masthead {
  //background: $brand-black;
  background: $brand-white;
  padding: 40px 20px;
  color: white;
  text-align: center;

  h1 {
    //color: $brand-primary;
    color: $brand-black;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $gray-light;
    a {
      color: $gray-light;
    }
  }
  // .github {
  //   font-size: 1.5em;
  // }
}

// .counterContainer {
//   text-align: center;
//   margin: 20px;
// }

.pipelineBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  margin: auto;

  button {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    font-size: 5rem;

    &:first-of-type {
      background: $brand-black;
      color: $brand-white;
    }

    &:last-of-type {
      background: $brand-gray;
      color: $brand-black;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}




