@import '../../../../theme/variables.scss';

.Chat {
  display: flex;
  flex-direction: column;
  //margin: 20px auto;
  width: 100%;
  //overflow-y: scroll;
  // height: 250px;
  background-color: $brand-white;

  button.loadmore {
    align-self: center;
    margin: 1rem auto;
  }
}

.ChatList {  
  margin: 0;
  padding: 0;

  li {
    display: flex;
    width: 100%;
    padding: 0 10px;
    
    .ChatBody {
      display: flex;
      flex-direction: column;
      div {
        color: $brand-gray;
      }
      p {
        color: $brand-white;
        padding: 2px 10px;
        border-radius: 15px;
      }
    }  
  }
  li.left {
    p {
      background-color: $chat-color-dark;
    }
  }
  li.right {
    justify-content: flex-end;
    p {
      background-color: $chat-color-light;
    }
  }
}


.MessageInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  textarea {
    max-width: 80vw;
  }
  button {
    max-height: 40px;
  }
}

// ::-webkit-scrollbar-track
// {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     background-color: #F5F5F5;
// }
//
// ::-webkit-scrollbar
// {
//     width: 12px;
//     background-color: #F5F5F5;
// }
//
// ::-webkit-scrollbar-thumb
// {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     background-color: #555;
// }
