@import '~theme/variables.scss';


.ChatList {
  li {
    list-style: none;
  }
  .left {
    p {
      background-color: $chat-color-dark;
      margin-right: auto;
    }
  }

  .right {
    justify-content: flex-end;

    p {
      background-color: $chat-color-light;
      text-align: right;
      margin-left: auto;
    }
  }
}


.MessageBody {
  display: flex;
  flex-direction: column;
  div {
    color: $brand-gray;
  }
  small {
    margin-right: 1rem;
  }
  p {
    color: $brand-white;
    padding: 2px 10px;
    border-radius: 15px;
  }
}

.MessageInput {
  color: $brand-black;
  textarea {
    border-top: $brand-gray 1px solid;
    border-radius: 0;
  }
}

// ::-webkit-scrollbar-track
// {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     background-color: #F5F5F5;
// }
//
// ::-webkit-scrollbar
// {
//     width: 12px;
//     background-color: #F5F5F5;
// }
//
// ::-webkit-scrollbar-thumb
// {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     background-color: #555;
// }
