@import '../../theme/variables.scss';

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

// Eric, nothing wrong with this, just moving to be more modular
// .login form {
// 	display: flex;
// 	flex-direction: column;
//
// 	div { // container for 'forgot password' <a> and button
// 		display: flex;
// 		justify-content: space-around;
// 		align-items: center;
// 	}
//
// 	input {
// 		width: 100%;
// 		box-shadow: 2px 2px 2px $brand-gray;
// 	}
//
// 	a {
// 		text-weight: bold;
// 		align-self: flex-start;
// 		text-decoration: none;
// 		}
//
// 	button {
// 		// better to define in pixels if you want custom size
// 		// width: 25%;
// 		align-self: flex-end;
// 	}
// }
